<h1>News list <small>December 1st 2017</small></h1>

<div class="pannel panel-default panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">News of the date</h3>
    </div>
    <div class="panel-body">
        <p *ngIf="!publicNews">No Public News</p>
        <news-summary *ngFor="let news of publicNews" [newsSummary]="news"></news-summary>
    </div>
</div>
<div class="panel panel-default panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Company Private News</h3>
    </div>
    <div class="panel-body">
        <p *ngIf="!privateNews">No Private News</p>
        <news-summary *ngFor="let news of privateNews" [newsSummary]="news"></news-summary>
    </div>
</div>